<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<style>
    .error {
        color: red;
    }
</style>
</head>
<body>
<div class="container">
<h2 class="mb-3">Save Employee</h2>
<form action="#" th:action="@{/employees/save}" th:object="${employee}" method="post">
	<input type="hidden" th:field="*{id}" />
    <input type="text" th:field="*{firstName}" placeholder="First Name" class="form-control w-25 mb-4"/>
    <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" th:errorclass="error"></p>
    <input type="text" th:field="*{lastName}" placeholder="Last Name" class="form-control w-25 mb-4"/>
    <input type="text" th:field="*{email}" placeholder="Email" class="form-control w-25 mb-4"/>
    <button type="submit" th:text="'Save'" class="btn btn-info col-1"></button>
</form>
<hr>
<a th:href="@{/employees/list}" th:text="'Back To Employee List'" ></a>
</div>
</body>
</html>